<button mat-raised-button color="primary" (click)="gridMode()">Test</button>
<div class="grid-holder">
  <mat-grid-list [cols]="numCol" [rowHeight]="rowHeight + 'px'">
    <mat-grid-tile
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">
      {{tile.text}}
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list class="placement-grid" [cols]="numCol" [rowHeight]="rowHeight + 'px'" *ngIf="isGridMode">
    <mat-grid-tile></mat-grid-tile>
  </mat-grid-list>
</div>

